body {
    font-family: Arial;
    margin: 40px;
}

input {
    display: block;
    margin: 5px 0;
    padding: 6px;
}

button {
    margin: 5px 0;
    padding: 6px 10px;
}

pre {
    background: #f4f4f4;
    padding: 10px;
}
